<div class="" id="tilt-frame">
  <div class="tilt-frame-wrap">
    <div class="overlay-gradient"></div>
    <div class="" id="tilted">
      <div class="tilted-wrap">
        <div class="top-row">
          <div class="row-wrap">
            {% for item in top_row %}
              <div class="item">
                {% if item.show_video %}
                  <video
                    autoplay=""
                    loop=""
                    muted=""
                    poster="{{item.image}}"
                    preload="auto"
                    src="{{item.video}}"
                    playsinline=""></video>
                    {% else %}
                    <img src="{{item.image}}" alt="">
                    {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="bottom-row">
          <div class="row-wrap">
            {% for item in bottom_row %}
              <div class="item">
                {% if item.show_video %}
                  <video
                    autoplay=""
                    loop=""
                    muted=""
                    poster="{{item.image}}"
                    preload="auto"
                    src="{{item.video}}"
                    playsinline=""></video>
                {% else %}
                <img src="{{item.image}}" alt="">
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>